#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.gridboxstyle {
    width: 31.25px;
    height: 31.25px;
    border: 1px dotted pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hovercolor {
    background-color: red;
}